<!doctype html>
<html>
   <head>
      <title> Mike's Page</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      <link rel = 'stylesheet' href = 'static/style.css'>
   </head>
    
<body >
   <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a class="navbar-brand" href="/">Michael Considine's Page</a>
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
         </button>
            <div class="collapse navbar-collapse nav navbar-nav navbar-right" id="collapsibleNavbar">
               <ul class="nav navbar-nav ml-auto">
                  <li class = 'nav-item'> 
                     <a class = 'nav-link' href = '/contact'> Contact</a>
                  </li>
               <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id = 'navbardrop'> Links</a>
                  <div class="dropdown-menu  dropdown-menu-right">
                      <a target = "_blank" class = 'dropdown-item' href="https://www.linkedin.com/in/mconsidin/"> LinkedIn </a> 
                      <a target = "_blank" class = 'dropdown-item' href="https://github.com/consimike">GitHub </a> 
                      <a target = "_blank" class = 'dropdown-item' href = "static/Data.Resumev2.docx" download = "Mike_Considine's_Resume.docx"> Resume </a> 
                      <a target = "_blank" class = 'dropdown-item' href = "/video" > Twitter Sentiment Project </a> 
                      <a target = "_blank" class = 'dropdown-item' href = 'https://www.ufcmachinelearning.com'> UFC Prediction Website </a> 
                  </div>
               </li>
               </ul>
            </div>
         
      </nav>

         
   <div class = 'container'>
      <div class = 'row h-100 text-center'>
         <div class = 'col-lg-12 align-items-center'>
            <div class="card card-block  mx-auto" style="width:400px">
               <div class = "card-header text-center">
                  Michael Considine
               </div>
               <img class="card-img-top" src="/static/self.jpg" alt="Card image">
                  <div class="card-body">
                     <p class="card-text">Best way to reach me: consimike@gmail.com</p>
                     <a href="/" class="btn btn-primary">See Profile</a>
                  </div>
                  <div>
                     <a target = "_blank" href ='https://www.linkedin.com/in/mconsidin/'>
                        <img style = 'width:50px' src = "https://cdns.iconmonstr.com/wp-content/assets/preview/2012/240/iconmonstr-linkedin-3.png"></i>
                     </a>
                     <a target = "_blank" href ='https://github.com/consimike'>
                        <img style = 'width:50px' src = "https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png"></i>
                     </a>
                  </div>
            </div>
         </div>
      </div>
   </div>

</body>


   <footer class = "links"> Go
         <a href = "/"> back </a>
         to the home page
   </footer>
</html>