<!DOCTYPE html>
<html lang="en">
<head>
  <title> Mike's Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZj6FB3aBVpYxz8jF0x3dH5lr9G9rKcPYjTKWQNkbKTpXo6V1j">
  <link rel = 'stylesheet' href = 'static/style.css'>

</head>
<body class = 'bodies'>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="">Michael Considine's Page</a>
    </div>
    <div class="collapse navbar-collapse nav navbar-nav navbar-right" id="myNavbar">
      <ul class="nav navbar-nav">
        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Links <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a target = "_blank"  href="https://www.linkedin.com/in/mconsidin/">LinkedIn</a></li>
            <li><a target = "_blank"  href="https://github.com/consimike">GitHub</a></li>
            <li> <a target = "_blank" href = "static/Data.Resumev2.docx" download = "Mike_Considine's_Resume.docx"> Resume </a> </li>
            <li> <a target = "_blank" href = "/video" > Twitter Sentiment Project </a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
  
<!-- Title -->
<div class = "container">
  <div class = "row">
    <div class = "col-lg-12" style = "text-align: center">
      <h1> Welcome to my website!</h1>
    </div>
  </div>
</div>

<!-- Header for resume, and downloadable link -->
<div class = "container-fluid">
  <div class = "row">
    <div class = "col-lg-6 ">
      <h2 class = 'center resume-text'>Resume</h5>
        <div>
          <a href = "static/Data.Resumev2.docx" download ="Mike_Considine's_Resume.docx" >
          <img class = "resume" src = "static/resume.1.PNG">
          </a>
        </div>
    </div> 
  

    <div class = 'col-lg-6'>
      <h2 class = 'about'>
        About Me
      </h2> 
      <p class = 'para'>  Data/Process Improvement Analyst with a background in industrial engineering, Kaizen, and new skills such as VBA, Python,Javascript, SQL 
        and Data Visualization using Tableau from Northwestern University. Enjoys looking for and finding arguments located within large complex data sets, visualizing them, while leveraging 
        a lean mindset to achieve the results. Proven productivity results through Kaizen events where a 35% productivity improvement was achieved. Voted Kaizen Champion during an internal competition from an 
        outside consultant and upper management. Knows how to present data to upper management in a concise and thought out manner. Motivated by finding the answer, and making a process better permanently. 
      </p>
      <img class = 'award' src = 'static/award.JPG'>
      
    </div>

  </div>

</div>   

<div class = "container-fluid">
  
  <div class = "row">
    <h3 class = 'links'> Click 
      <a target = "_blank" href = '/video'> here </a>
      to view the twitter sentiment project in action!
    </h3>
  </div>

</div>
  <!-- <div class = col-lg-6>
      <div id="wrapper" class = 'center'>
          
          
          <form action = "{{url_for('build')}}" method = "POST" >
           
            <h2>What is the greatest factor in being successful?</h2>
           
            <label><input type="radio" name="a1" value="Work Ethic">
              Work Ethic
            </label><br />
            <label><input type="radio" name="a2" value="Intelligence">
              Intelligence
            </label><br />
            <label><input type="radio" name="a3" value="Motivation/Dedication">
              Motivation/Dedication
            </label><br />
            <label><input type="radio" name="a4" value="Attitude">
              Attitude
            </label><br /> -->
        
           
<!--             
          <button type="submit" id="submit" onclick="tabulateAnswers()">Submit Your Answer</button>
          <button type="reset" id="reset" onclick="resetAnswer()">Reset</button>
          </form>
          {{ msg }}
          
          <div id="result">
            <table>
              <thead>
                 <td>id</td>
                 <td>Work Ethic</td>
                 <td>Intelligence</td>
                 <td>Motivation/Dedication</td>
                 <td>Attitude</td>
              </thead>
              
              {% for row in rows %}
                 <tr>
                    <td>{{row["id"]}}</td> -->
                    <!-- <td>{{row["a1"]}}</td>
                    <td> {{row["a2"]}}</td>
                    <td>{{row['a3']}}</td>
                    <td>{{row['a4']}}</td>		
                 </tr>
              {% endfor %}
           </table>
          </div>
        </div> -->
  


     
        
        
       
        
        
        

<script src = "{{url_for('static', filename='script.js')}}"></script>


</body>


<footer> 
  Thank you for viewing my page!
</footer>



</html>